include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Salud Penitenciaria
        meta(meta name="description" content="Información del programa: Salud Penitenciaria.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Evaluador de competencias laborales en el área técnica de su dominio
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Caracterización de proyectos audiovisuales y fuentes de financiación
                                        li 
                                            span #[strong Código:] 51310000
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] <br><br>
                                            ul 
                                                li Procedimiento de ingreso definido.
                                                li Dominio de las condiciones básicas relacionadas con el manejo de herramientas informáticas y de comunicación: correo electrónico, chats, Messenger, procesadores de texto, hojas de cálculo, software para presentaciones, internet, navegadores y otros sistemas y herramientas tecnológicas de la web 2.0.



                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.svg")                 


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Construir y estructurar proyectos audiovisuales que permitan acceder a recursos o fuentes que los financien en el marco de la legislación colombiana, es un proceso muy importante, si se desea caracterizar los nuevos proyectos a través de procesos de financiación.

                p Por tales motivos, a través de este programa de formación denominado “Caracterización de proyectos audiovisuales y fuentes de financiación”, se realizará una descripción ordenada de la normatividad colombiana para proyectos audiovisuales y se brindará información fundamental para la elaboración del cronograma, el plan de promoción y el presupuesto de un proyecto audiovisual.

                p Es importante que siempre busque la información necesaria y elabore los documentos requeridos en cada semana de trabajo, así tendrá los conocimientos necesarios para vincular sus proyectos en las diferentes plataformas a las que tiene acceso.

                p ¡Bienvenido!


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El complementario virtual Caracterización de proyectos audiovisuales y fuentes de financiación atiende a personas y profesionales relacionados con el sector audiovisual, interesados en construir y estructurar proyectos audiovisuales que permitan acceder a recursos o fuentes de financiación en el marco de la legislación colombiana, con el fin de producirlos y exhibirlos en las diferentes plataformas en las cuales tengan acceso.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Dirigido a personas y profesionales relacionados con el sector audiovisual, interesados en construir y estructurar proyectos audiovisuales con fuentes de financiación.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro (4)  fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





