include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Caracterización de Proyectos Audiovisuales y Fuentes de Financiación.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Caracterización de Proyectos Audiovisuales y Fuentes de Financiación
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación <strong>Caracterización de Proyectos Audiovisuales y Fuentes de Financiación</strong>.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .timeline__wrapper.jumbotron.py-3.px-5

                section#timeline
                    .timeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Reconocer la normatividad vigente relacionada con proyectos audiovisuales, teniendo en cuenta los entes involucrados y sus competencias.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    ul.bg-color-dark
                                        li 
                                            span 280301200-01 - Reconocer proyectos audiovisuales de acuerdo con el marco normativo y su tipología.
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Normatividad colombiana para proyectos audiovisuales
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                        ul.bg-color-dark
                                                li 
                                                    span AA1-EV01 - Evaluación sobre la normatividad vigente para el desarrollo de proyectos audiovisuales. Participar en la evaluación resolviendo las preguntas planteadas que tienen relación con los proyectos audiovisuales.
                                                li 
                                                    span AA1-EV01 - Mapa conceptual sobre la normatividad colombiana para proyectos audiovisuales. Elaborar un mapa conceptual donde se identifiquen:
                                                    ul.bg-color-dark
                                                        li 
                                                            span Las instituciones relacionadas con las producciones audiovisuales y los organismos rectores que fueron creados por el Gobierno nacional y dichos organismos en la normatividad descrita.

                                                        li 
                                                            span El objetivo y competencia de cada una de estas instituciones y organismos.


                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Caracterizar el cronograma, plan de promoción y presupuesto de un proyecto audiovisual, de acuerdo con la fuente de financiación.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    ul.bg-color-dark
                                        li 
                                            span 280301200-02 - Caracterizar el proyecto audiovisual según requisitos legales y fuentes de financiación
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Gestión de proyectos audiovisuales.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                        ul.bg-color-dark
                                                li 
                                                    span AA2-EV01 - Cronograma del proyecto audiovisual. Estructurar un cronograma para la ejecución de su proyecto, teniendo en cuenta las fuentes de financiación a utilizar.
                                                li 
                                                    span AA2-EV02 - Plan de promoción del proyecto audiovisual. Elabore un plan de promoción teniendo en cuenta las siguientes instrucciones:
                                                    ul.bg-color-dark
                                                        li 
                                                            span Identifique el público objetivo para su película.

                                                        li  
                                                            span Diseñe una estrategia de mercadeo acorde con su público objetivo.

                                                        li  
                                                            span Diseñe una estrategia de publicidad acorde con su público objetivo.


                    .timeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





